<!DOCTYPE html>
<html lang="en-US">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blogg</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  {{!-- jquery --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        The Tech Blogg
      </a>
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        {{#if logged_in}}
          <a class="button is-primary">
            <strong>Logout</strong>
          </a>
          {{else}}
          <a class="button is-primary" href="/login">
            <strong>Login</strong>
          </a>
          <a class="button is-info" onclick="logout()">
            <strong>Sign Up</strong>
          </a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

      <div class="container">
        <nav class="navbar">
          <a href="/">The Tech Blogg</a>
          <ul>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="logout"><a onclick="logout()">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </nav>
      </div>

    </header>

    <main>
      {{{ body }}}
    </main>

  </div>

  <script src="/js/bulma.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>