<div class="column is-8 is-offset-2">
    <h1>Update Post</h1>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 pb-2">Update Title</p>
                        <textarea class="subtitle is-4 update-title">{{title}}</textarea>
                    </div>
                </div>
                <p class="title is-4 pb-2">Update Content</p>
                <textarea class="subtitle update-content is-6">{{content}}</textarea>
            </div>
            <a class="button is-primary is-small" href="/api/update/{{post.id}}">Update Post</a>
        </div>
    </div>
</div>