<div class="column is-8 is-offset-2">
    <h1>Update Post</h1>
    <div class="column">
        <form class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 pb-2">Update Title</p>
                        <input type="text" id="update-title" class="subtitle is-4 update-title" value="{{title}}"></input>
                    </div>
                </div>
                <p class="title is-4 pb-2">Update Content</p>
                <textarea id="update-content" class="subtitle update-content is-6">{{content}}</textarea>
                <submit id="test" class="button is-primary" data-id="{{id}}" onclick="update()">Update Post</submit>
            </div>
        </form>
    </div>
</div>

<script src="/js/update.js"